@@font-face {
  font-family: TripAdvisor_Regular;
  src: url('fonts/TripAdvisor_Regular.ttf') format('truetype');
}

* {
  box-sizing: border-box;
  font-family: TripAdvisor_Regular, Arial, Helvetica, sans-serif;
}

body {
  margin: 0;
  background-color: #f2f2f2;
  size: 100%;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
}

.icon {
    font-family: 'TripAdvisor_Regular';
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    position: relative;
    color: #02a680;
}

.inbox_icon::before {
  content: '\e06b'
}

.trips_icon::before {
  content: '\e0c3'
}

.cart_icon::before {
  content: '\e062'
}

.search_icon:before {
  content: '\e056'
}

.hotel_icon:before {
  content:'\e000';
}

.flight_icon:before {
  content:'\e004';
}

.cruise_icon:before {
   content:'\e007';
 }

.restaurant_icon:before {
    content:'\e001';
}

.attraction_icon:before {
    content:'\e002';
}

.vr_icon:before {
    content:'\e003';
}

.more_icon:before {
    content:'\e091';
}

.down_arrow_icon:before {
  content: '\e03e';
}

.center {
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
}

.topnav {
  overflow: hidden;
  width: auto;
  background-color: #ffffff;
  height: 60px;
  position: relative;
}

.topnavItems {
  position: absolute;
  display: flex;
  right: 0;
}

.topnavItemContainer {
  width: 72px;
  height: 60px;
  margin-top: 10px
}

.topnavItemLabel {
  color: #000a12;
  font-size: 12px;
}

.topnavItemIcon {
  color: #000a12;
  font-size: 24px;
}

.topnavItemSearchBar {
  margin: 12px;
  margin-right: 80px;
  border: 2px solid #e5e5e5;
  height: 36px;
  width: 160px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.topnavItemSearchBarIcon {
  font-size: 18px;
  margin-left: 4px;
}

.topnavItemSearchBarLabel {
  font-size: 14px;
  margin-left: 4px;
  color: #b7b7b7;
}

.logo {
  margin-left: 80px;
  margin-top: 18px;
  width: 160px;
  height: 30px;
  background: url("../images/ta-logo-primary.png");
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
}

.heroContainer {
  position: relative;
  text-align: center;
}

.pill {
  margin-top: 100px;
  width: 230px;
  height: 50px;
  border-radius: 25px;
  background-color: #ffffff;
  position: absolute;
  display: flex;
  justify-content: center;
}

.pillContent {
  display: flex;
  justify-content: center;
  align-items: center;
}

.pillContent .down_arrow_icon {
  margin-left: 8px;
}

.pillLabel {
  font-size: 24px;
  color: #000a12;
  font-weight: bold;
}

.heroImage {
  width: 100%;
  height: 250px;
  position: absolute;
  background: url("../images/new-york-city.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.quickLinksContainer {
  max-width: 918px;
  height: 100px;
  margin-top: 225px;
  position: relative;
  display: inline-flex;
  border: 1px solid #e5e5e5;
  background-color: #ffffff;
}

.quickLink {
  width: 131px;
  height: 100px;
  position: relative;
  text-decoration: none;
}

.quickLinkContent {
  margin-top: 20px;
  position: absolute;
}

.quickLinkIcon {
  font-size: 32px;
}

.quickLinkLabel {
  line-height: 2;
  font-weight: bold;
  font-size: 14px;
  color: #000a12;
}

.quickLinkSeparator {
  width: 100%;
  height: 80px;
  margin-top: 10px;
  border-right: 1px solid #e5e5e5;
  position: absolute;
}


.container {
    max-width: 918px;
    height: 100%;    
    position: relative;
    border: 1px solid #e5e5e5;
    background-color: #ffffff;
    margin: auto;
    margin-top: 10px;
    padding-bottom: 10px;
    padding-top: 10px;
}

.containerOuter { 
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
  width: 100%;
  
}
.card {
    display: inline-block;
    width: 180px;
    margin-right: 10px;
    margin-left: 10px;
}
.card > img {
    width: 100%;
}
.cardBody {
   white-space: initial;
   height: 110px;
   text-overflow: ellipsis;
   overflow: hidden;
}
.cardBody h5 {
    margin-bottom: 5px;
}
.cardBody p {
    margin-top: 0px;
}